*.[oad]
*~
*.exe
*.swp
.deps/
bin/
autom4te.cache/
config/
config.h.in
COPYING
libtool
stamp-h1
Debug/
concurrency/Release/
concurrency/x64/
py/build
py/images
py/dist
docs/_book
docs/node_modules
